#tab1 {
    border-color: blue;
    border-width:2mm ;
    border-style:double ;
    border-radius: 5%;
    
}
#tab2 {
    border-color: red;
    border-width:3mm ;
    border-style:dotted;
    position: center;
}
table{
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}
h3{
    animation: glissement 3s  alternate ;
    animation-timing-function: ease-out;
}
@keyframes glissement {
    from {
      margin-left: 100%;
     width:100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
